---
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogFooter from '../components/BlogFooter.astro';
import { Post } from '../collections/posts';
import MainLayout from '../layouts/MainLayout.astro';

const { content } = Astro.props;
const { title, description, publishDate, author, heroImage, permalink, alt } = content;
---
<!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="favicon.ico" />

<style>
	@import "../styles/blog.css";
</style>

<MainLayout>
		<!-- <BaseHead {title} {description} {permalink} /> -->

	
		<BlogHeader />
		<div class="wrapper">
			<Post {title} {author} {heroImage} {publishDate} {alt}>
				<slot />
			</Post>
		</div>
		<BlogFooter />
</MainLayout>